Affinity/distrib/Affinity_v1.0/data/schemas/Autoweb.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns="http://db.mitre.org/" targetNamespace="http://db.mitre.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="vehicleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Acura CL" />
      <xsd:enumeration value="Acura Integra" />
      <xsd:enumeration value="Acura Legend" />
      <xsd:enumeration value="Acura MDX" />
      <xsd:enumeration value="Acura NSX" />
      <xsd:enumeration value="Acura NSX-T" />
      <xsd:enumeration value="Acura RL" />
      <xsd:enumeration value="Acura RSX" />
      <xsd:enumeration value="Acura SLX" />
      <xsd:enumeration value="Acura TL" />
      <xsd:enumeration value="Acura Vigor" />
      <xsd:enumeration value="Alfa Romeo 164" />
      <xsd:enumeration value="Chevrolet G10" />
      <xsd:enumeration value="Chevrolet G15" />
      <xsd:enumeration value="Chevrolet G20" />
      <xsd:enumeration value="Chevrolet G25" />
      <xsd:enumeration value="Chevrolet G30" />
      <xsd:enumeration value="Chevrolet G35" />
      <xsd:enumeration value="Volvo 240" />
      <xsd:enumeration value="Volvo 240dl" />
      <xsd:enumeration value="Volvo 740" />
      <xsd:enumeration value="Volvo 760" />
      <xsd:enumeration value="Volvo 780" />
      <xsd:enumeration value="Volvo 850" />
      <xsd:enumeration value="Volvo 940" />
      <xsd:enumeration value="Volvo 960" />
      <xsd:enumeration value="Volvo C70" />
      <xsd:enumeration value="Volvo GLT" />
      <xsd:enumeration value="Volvo S40" />
      <xsd:enumeration value="Volvo S60" />
      <xsd:enumeration value="Volvo S70" />
      <xsd:enumeration value="Volvo S80" />
      <xsd:enumeration value="Volvo S90" />
      <xsd:enumeration value="Volvo V40" />
      <xsd:enumeration value="Volvo V70" />
      <xsd:enumeration value="Volvo V90" />
      <xsd:enumeration value="Volvo XC70" />
      <xsd:enumeration value="Volvo XC90" />
      <xsd:enumeration value="Yugo Cabrio" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="search_mileage_intType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="25" />
      <xsd:enumeration value="50" />
      <xsd:enumeration value="100" />
      <xsd:enumeration value="150" />
      <xsd:enumeration value="250" />
      <xsd:enumeration value="500" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Low_PriceType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Any" />
      <xsd:enumeration value="$5,000" />
      <xsd:enumeration value="$10,000" />
      <xsd:enumeration value="$15,000" />
      <xsd:enumeration value="$20,000" />
      <xsd:enumeration value="$25,000" />
      <xsd:enumeration value="$30,000" />
      <xsd:enumeration value="$35,000" />
      <xsd:enumeration value="$40,000" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="High_PriceType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Any" />
      <xsd:enumeration value="$5,000" />
      <xsd:enumeration value="$10,000" />
      <xsd:enumeration value="$15,000" />
      <xsd:enumeration value="$20,000" />
      <xsd:enumeration value="$25,000" />
      <xsd:enumeration value="$30,000" />
      <xsd:enumeration value="$35,000" />
      <xsd:enumeration value="$40,000 +" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="numCarsOnOnePageType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="5" />
      <xsd:enumeration value="10" />
      <xsd:enumeration value="15" />
      <xsd:enumeration value="25" />
      <xsd:enumeration value="50" />
      <xsd:enumeration value="75" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="AutomobileType">
    <xsd:annotation>
      <xsd:documentation> AutoWeb url is http://www.autoweb.com/content/buy/used/index.cfm  </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="vehicle" type="vehicleType">
        <xsd:annotation>
          <xsd:documentation>Select Vehicle</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="search_mileage_int" type="search_mileage_intType">
        <xsd:annotation>
          <xsd:documentation>search within</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Entered_Postal_Code_vch" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>miles of</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Low_Price" type="Low_PriceType">
        <xsd:annotation>
          <xsd:documentation>Price Range</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="High_Price" type="High_PriceType">
        <xsd:annotation>
          <xsd:documentation>to</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numCarsOnOnePage" type="numCarsOnOnePageType">
        <xsd:annotation>
          <xsd:documentation>Vehicles per page</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Automobile" type="AutomobileType">
    <xsd:annotation>
      <xsd:documentation> AutoWeb url is http://www.autoweb.com/content/buy/used/index.cfm  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
