Affinity/distrib/Affinity_v1.0/data/schemas/PlanetProperties.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns="http://db.mitre.org/" targetNamespace="http://db.mitre.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="LCountryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="American Samoa" />
      <xsd:enumeration value="Argentina" />
      <xsd:enumeration value="Australia" />
      <xsd:enumeration value="Barbados" />
      <xsd:enumeration value="Belize" />
      <xsd:enumeration value="Bermuda" />
      <xsd:enumeration value="Bolivia" />
      <xsd:enumeration value="Brazil" />
      <xsd:enumeration value="Canada" />
      <xsd:enumeration value="Caribbean" />
      <xsd:enumeration value="Chile" />
      <xsd:enumeration value="China" />
      <xsd:enumeration value="Columbia" />
      <xsd:enumeration value="Costa Rica" />
      <xsd:enumeration value="Croatia" />
      <xsd:enumeration value="Cyprus" />
      <xsd:enumeration value="Czech Republic" />
      <xsd:enumeration value="Ecuador" />
      <xsd:enumeration value="Egypt" />
      <xsd:enumeration value="Fiji" />
      <xsd:enumeration value="France" />
      <xsd:enumeration value="French Polynesia" />
      <xsd:enumeration value="Greece" />
      <xsd:enumeration value="Guam" />
      <xsd:enumeration value="Guatemala" />
      <xsd:enumeration value="Honduras" />
      <xsd:enumeration value="India" />
      <xsd:enumeration value="Indonesia" />
      <xsd:enumeration value="Ireland" />
      <xsd:enumeration value="Italy" />
      <xsd:enumeration value="Jamaica" />
      <xsd:enumeration value="Japan" />
      <xsd:enumeration value="Kenya" />
      <xsd:enumeration value="Malta" />
      <xsd:enumeration value="Mexico" />
      <xsd:enumeration value="Monaco" />
      <xsd:enumeration value="Morocco" />
      <xsd:enumeration value="Netherlands Antilles" />
      <xsd:enumeration value="New Caledonia" />
      <xsd:enumeration value="New Zealand" />
      <xsd:enumeration value="Nicaragua" />
      <xsd:enumeration value="Panama" />
      <xsd:enumeration value="Portugal" />
      <xsd:enumeration value="South Africa" />
      <xsd:enumeration value="Spain" />
      <xsd:enumeration value="Switzerland" />
      <xsd:enumeration value="Thailand" />
      <xsd:enumeration value="Turks and Caicos Islands" />
      <xsd:enumeration value="United Kingdom" />
      <xsd:enumeration value="United States" />
      <xsd:enumeration value="Uruguay" />
      <xsd:enumeration value="Venezuela" />
      <xsd:enumeration value="Virgin Islands British" />
      <xsd:enumeration value="Virgin Islands U.S." />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PriceRangeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="$1 - $200k" />
      <xsd:enumeration value="$200k - $400k" />
      <xsd:enumeration value="$400k - $600k" />
      <xsd:enumeration value="$600k - $800k" />
      <xsd:enumeration value="$800k - $1m" />
      <xsd:enumeration value="$1m - $2m" />
      <xsd:enumeration value="$2m - $5m" />
      <xsd:enumeration value="$5m - $10m" />
      <xsd:enumeration value="$10m +" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PropertyTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="House/Residential" />
      <xsd:enumeration value="Condo/Apartment" />
      <xsd:enumeration value="Commercial" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PropertyCharacteristicsType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Beach" />
      <xsd:enumeration value="Coastal" />
      <xsd:enumeration value="Desert" />
      <xsd:enumeration value="Island" />
      <xsd:enumeration value="Farm" />
      <xsd:enumeration value="Rural" />
      <xsd:enumeration value="Mountain" />
      <xsd:enumeration value="Urban" />
      <xsd:enumeration value="Tropical" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TotlBedType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1+" />
      <xsd:enumeration value="2+" />
      <xsd:enumeration value="3+" />
      <xsd:enumeration value="4+" />
      <xsd:enumeration value="5+" />
      <xsd:enumeration value="6+" />
      <xsd:enumeration value="7+" />
      <xsd:enumeration value="8+" />
      <xsd:enumeration value="9+" />
      <xsd:enumeration value="10+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TotlFBathType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1+" />
      <xsd:enumeration value="2+" />
      <xsd:enumeration value="3+" />
      <xsd:enumeration value="4+" />
      <xsd:enumeration value="5+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PlanetPropertiesType">
    <xsd:annotation>
      <xsd:documentation> Planet Properties  </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="LCountry" type="LCountryType">
        <xsd:annotation>
          <xsd:documentation>Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PriceRange" type="PriceRangeType">
        <xsd:annotation>
          <xsd:documentation>Price Range</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PropertyType" type="PropertyTypeType">
        <xsd:annotation>
          <xsd:documentation>Property Type</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PropertyCharacteristics" type="PropertyCharacteristicsType">
        <xsd:annotation>
          <xsd:documentation>Property Characteristics</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TOTL_BED" type="TotlBedType">
        <xsd:annotation>
          <xsd:documentation>Features Bedrooms</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TOTL_FBATH" type="TotlFBathType">
        <xsd:annotation>
          <xsd:documentation>Features Bathrooms</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TOTL_FL_SQ" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Features Minimum Floor Area Sq. Ft., Sq. M.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TOTL_LOT_SQ" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Features Minimum Lot Size Acres, Hectares, Sq. M., Sq. Ft.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PlanetProperties" type="PlanetPropertiesType">
    <xsd:annotation>
      <xsd:documentation> Planet Properties  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>