trunk/Affinity/AffinityDemo/data/schemas/SpaceForLease.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns="http://db.mitre.org/" targetNamespace="http://db.mitre.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="Property_TypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Auto Center" />
      <xsd:enumeration value="Executive Suite" />
      <xsd:enumeration value="Free Standing Building" />
      <xsd:enumeration value="Industrial Property" />
      <xsd:enumeration value="Land/Empty Lot  Mall" />
      <xsd:enumeration value="Medical Building" />
      <xsd:enumeration value="Outlet Center" />
      <xsd:enumeration value="Office Building" />
      <xsd:enumeration value="Office Warehouse  Shopping Center" />
      <xsd:enumeration value="Store Front" />
      <xsd:enumeration value="Strip Center" />
      <xsd:enumeration value="Warehouse" />
      <xsd:enumeration value="Others" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CountryType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Canada" />
      <xsd:enumeration value="United States Of America" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StateType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Alabama" />
      <xsd:enumeration value="Alaska" />
      <xsd:enumeration value="Arizona" />
      <xsd:enumeration value="Arkansas" />
      <xsd:enumeration value="California" />
      <xsd:enumeration value="Colorado" />
      <xsd:enumeration value="Connecticut" />
      <xsd:enumeration value="Delaware" />
      <xsd:enumeration value="Florida" />
      <xsd:enumeration value="Georgia" />
      <xsd:enumeration value="Hawaii" />
      <xsd:enumeration value="Idaho" />
      <xsd:enumeration value="Illinois" />
      <xsd:enumeration value="Indiana" />
      <xsd:enumeration value="Iowa" />
      <xsd:enumeration value="Kansas" />
      <xsd:enumeration value="Kentucky" />
      <xsd:enumeration value="Louisiana" />
      <xsd:enumeration value="Maine" />
      <xsd:enumeration value="Maryland" />
      <xsd:enumeration value="Massachusetts" />
      <xsd:enumeration value="Michigan" />
      <xsd:enumeration value="Minnesota" />
      <xsd:enumeration value="Mississippi" />
      <xsd:enumeration value="Missouri" />
      <xsd:enumeration value="Montana" />
      <xsd:enumeration value="Nebraska" />
      <xsd:enumeration value="Nevada" />
      <xsd:enumeration value="New Hampshire" />
      <xsd:enumeration value="New Jersey" />
      <xsd:enumeration value="New Mexico" />
      <xsd:enumeration value="New York" />
      <xsd:enumeration value="North Carolina" />
      <xsd:enumeration value="North Dakota" />
      <xsd:enumeration value="Ohio" />
      <xsd:enumeration value="Oklahoma" />
      <xsd:enumeration value="Oregon" />
      <xsd:enumeration value="Pennsylvania" />
      <xsd:enumeration value="Rhode Island" />
      <xsd:enumeration value="South Carolina" />
      <xsd:enumeration value="South Dakota" />
      <xsd:enumeration value="Tennessee" />
      <xsd:enumeration value="Texas" />
      <xsd:enumeration value="Utah" />
      <xsd:enumeration value="Vermont" />
      <xsd:enumeration value="Virginia" />
      <xsd:enumeration value="Washington" />
      <xsd:enumeration value="Washington DC" />
      <xsd:enumeration value="West Virginia" />
      <xsd:enumeration value="Wisconsin" />
      <xsd:enumeration value="Wyoming" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="SpaceForLeaseType">
    <xsd:annotation>
      <xsd:documentation> Real Estate </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Property_Type" type="Property_TypeType">
        <xsd:annotation>
          <xsd:documentation>Property Type</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Country" type="CountryType">
        <xsd:annotation>
          <xsd:documentation>Property Location Country</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="State" type="StateType">
        <xsd:annotation>
          <xsd:documentation>Property Location State</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="City" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Property Location City</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Zip_Code" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Property Location Zip Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="St_Name" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Property Location Street Name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Min_sqf_avail" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Property Size (Sq. Ft.) Minimum</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Max_sqf_avail" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Property Size (Sq. Ft.) Maximum</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Min_Lease_Price" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Lease Price (Per Sq. Ft.) Minimum</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Max_Lease_Price" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Lease Price (Per Sq. Ft.) Maximum</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SpaceForLease" type="SpaceForLeaseType">
    <xsd:annotation>
      <xsd:documentation> Real Estate </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>
