trunk/Affinity/data/schemas/RealEstate.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML Studio 1.0.8.0 (http://www.liquid-technologies.com) -->
<xsd:schema xmlns="http://db.mitre.org/" targetNamespace="http://db.mitre.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="selHouseTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Resale Homes" />
      <xsd:enumeration value="New Homes" />
      <xsd:enumeration value="Apartments" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="selStateType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Alabama" />
      <xsd:enumeration value="Alaska" />
      <xsd:enumeration value="Arizona" />
      <xsd:enumeration value="Arkansas" />
      <xsd:enumeration value="California" />
      <xsd:enumeration value="Colorado" />
      <xsd:enumeration value="Connecticut" />
      <xsd:enumeration value="Delaware" />
      <xsd:enumeration value="District of Columbia" />
      <xsd:enumeration value="Florida" />
      <xsd:enumeration value="Georgia" />
      <xsd:enumeration value="Hawaii" />
      <xsd:enumeration value="Idaho" />
      <xsd:enumeration value="Illinois" />
      <xsd:enumeration value="Indiana" />
      <xsd:enumeration value="Iowa" />
      <xsd:enumeration value="Kansas" />
      <xsd:enumeration value="Kentucky" />
      <xsd:enumeration value="Louisiana" />
      <xsd:enumeration value="Maine" />
      <xsd:enumeration value="Maryland" />
      <xsd:enumeration value="Massachusetts" />
      <xsd:enumeration value="Michigan" />
      <xsd:enumeration value="Minnesota" />
      <xsd:enumeration value="Mississippi" />
      <xsd:enumeration value="Missouri" />
      <xsd:enumeration value="Montana" />
      <xsd:enumeration value="Nebraska" />
      <xsd:enumeration value="Nevada" />
      <xsd:enumeration value="New Hampshire" />
      <xsd:enumeration value="New Jersey" />
      <xsd:enumeration value="New Mexico" />
      <xsd:enumeration value="New York" />
      <xsd:enumeration value="North Carolina" />
      <xsd:enumeration value="North Dakota" />
      <xsd:enumeration value="Ohio" />
      <xsd:enumeration value="Oklahoma" />
      <xsd:enumeration value="Oregon" />
      <xsd:enumeration value="Pennsylvania" />
      <xsd:enumeration value="Rhode Island" />
      <xsd:enumeration value="South Carolina" />
      <xsd:enumeration value="South Dakota" />
      <xsd:enumeration value="Tennessee" />
      <xsd:enumeration value="Texas" />
      <xsd:enumeration value="Utah" />
      <xsd:enumeration value="Vermont" />
      <xsd:enumeration value="Virginia" />
      <xsd:enumeration value="Washington" />
      <xsd:enumeration value="West Virginia" />
      <xsd:enumeration value="Wisconsin" />
      <xsd:enumeration value="Wyoming" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="selMetroType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Bloomington - Normal" />
      <xsd:enumeration value="Champaign-Urbana" />
      <xsd:enumeration value="Chicago" />
      <xsd:enumeration value="Devenport - Moline - Rock Island" />
      <xsd:enumeration value="Kankakee" />
      <xsd:enumeration value="Peoria - Perkin" />
      <xsd:enumeration value="Rockford" />
      <xsd:enumeration value="Saint Louis" />
      <xsd:enumeration value="Springfield" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="selListingTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="$400 or less" />
      <xsd:enumeration value="$401 to $500" />
      <xsd:enumeration value="$501 to $600" />
      <xsd:enumeration value="$601 to $700" />
      <xsd:enumeration value="$701 to $800" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="selBedsType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Beds" />
      <xsd:enumeration value="Studios" />
      <xsd:enumeration value="1+" />
      <xsd:enumeration value="2+" />
      <xsd:enumeration value="3+" />
      <xsd:enumeration value="4+" />
      <xsd:enumeration value="5+" />
      <xsd:enumeration value="6+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="selBathsType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1+" />
      <xsd:enumeration value="2+" />
      <xsd:enumeration value="3+" />
      <xsd:enumeration value="4+" />
      <xsd:enumeration value="5+" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="RealEstateType">
    <xsd:annotation>
      <xsd:documentation> Real Estate  </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="selHouseType" type="selHouseTypeType" />
      <xsd:element name="selState" type="selStateType">
        <xsd:annotation>
          <xsd:documentation>State</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="selMetro" type="selMetroType">
        <xsd:annotation>
          <xsd:documentation>City/Metro</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="selListingType" type="selListingTypeType">
        <xsd:annotation>
          <xsd:documentation>Price</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="selBeds" type="selBedsType">
        <xsd:annotation>
          <xsd:documentation>Bedrooms</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="selBaths" type="selBathsType">
        <xsd:annotation>
          <xsd:documentation>Baths</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="RealEstate" type="RealEstateType">
    <xsd:annotation>
      <xsd:documentation> Real Estate  </xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>